.starting {
  max-width: 1280px;
  margin: auto;
  
  display: grid;

  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;

  grid-template-areas: 
  "header header"
  "nav main";
}

.logo {
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #e9f170;
}

.nav {
  grid-area: nav;
  background-color: #e9f170;
}

.main {
  grid-area: main;
  background-color: rgb(230, 101, 101);
}